<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>tugas kelompok 1</title>
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
          
        table#t01 {  
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: 2vw;
        }
        
    </style>
</head>
<body>
        <div>
                <nav class="navbar navbar-expand-sm" style= "background-color:#455650" >
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="#">
                        <img src="{% static "images/logo.jpg" %}" alt="logo" style="width:116px;height: 42px;">
                    </a>
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home:home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CATEGORY</a>
                        </li>
                    </ul>
                </nav>
            </div>
        <br>
        
        <table id= "t01" style="text-align: center;">
            <tr>
                <th style= "border: 1px solid black; padding: 5px 5px; width: 15vw">Nama Pembeli</th>
                <th style= "border: 1px solid black; padding: 5px 5px; width: 15vw">Nama Produk</th> 
                <th style= "border: 1px solid black; padding: 5px 5px; width: 15vw">Nomor Handphone</th>
                <th style= "border: 1px solid black; padding: 5px 5px; width: 15vw">Nomor Telepon</th>
                <th style= "border: 1px solid black; padding: 5px 5px; width: 20vw">Alamat Lengkap</th>
            </tr>
        </table>
      
        
        {% for a in posting %}
        <table style= "margin-left: 2vw; margin-top: 3vw; text-align: center">
            
            <tr>
                <td style= "border: 1px solid black; padding: 5px 25px; width: 15vw; max-width: 15vw">{{a.Nama_Pembeli}}</td>
                <td style= "border: 1px solid black; padding: 5px 25px; width: 15vw; max-width: 15vw">{{a.Nama_Produk}}</td>
                <td style= "border: 1px solid black; padding: 5px 25px; width: 15vw; max-width: 15vw">{{a.Nomor_Handphone}}</td>
                <td style= "border: 1px solid black; padding: 5px 25px; width: 15vw; max-width: 15vw">{{a.Nomor_Telepon}}</td>
                <td style= "border: 1px solid black; padding: 5px 25px; width: 20vw; max-width: 20vw">{{a.Alamat_Lengkap}}</td>
  
            </tr>
        </table>
        <form action="{% url 'alamat:delete' a.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="a_id" value="{{ a.id }}"/>
                <button type="" class="btn-sm col-2" style= "position: absolute; margin-left: 2vw" >Hapus</button> 
        </form>
        {% endfor %}
   
</body>


</html>
